body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #5875aabe, #4e71ae96);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.weather-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 50px 20px 2px rgba(0, 0, 0, 0.275);
}

input {
  width: 280px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  
}

button {
  width: 100%;
  padding: 8px;
  background: #1e3c72;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.result p {
  margin: 5px 0;
}
p{
box-shadow: inset 0 0 10px #00000040;
border-radius: 5px;
}